* {
    margin: 0;
    padding: 0;
}

.choiseContainer {
    width: 800px;
    color: white;
}

h1 {
    font-size: 24px;
    font-weight: semibold;
    text-transform: uppercase;

    margin-bottom: 40px;
}

.nameColor {
    margin: 0;
    padding: 0;
    color: #FFC579;
    font-size: 18px;
    font-weight: bold;
}

.choisetext {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 75px;
}

.choiseContainer__body {
    display: flex;
    gap: 25px;
}

